.header {
    padding: 0; 
    background: 'white';
}
.logo {
    float: left;
    color: white;
    font-size: 18px;
  }
  
.brand {
    color: black;
    font-size: 18px;
}
  
.menu {
    float: right;
}